// Font Sizes
$base-page-size: 16px;
$font-size-standard: 1.2rem; // = 16px
$font-size-headline: 3rem; // = 3 * 1rem or 48px
$font-size-byline: 1.5rem; // = 1.5 * 1rem or 24px
$font-size-subtext: 0.75rem; // = .75 * 1rem or 12px

//Colors
$body-text: rgba(255,255,255,1);
$content-background: rgba(68,207,108,1); // Green;
$content-text: rgba(255,255,255,1); // White;
$aside-background: rgba(45,125,210,1); // Blue;
$aside-text: rgba(255,255,255,1); //  White;
$header-background: rgba(241,136,5,1); // Orange;
$header-text: rgba(255,255,255,1); // White;
$footer-background: rgba(241,136,5,1); // Orange;
$footer-text: rgba(255,255,255,1); // White;
$nav-background: rgba(45,125,210,1); // Blue;
$nav-text: rgba(255,255,255,1); // White;

// Device Sizes
$device-phone: 320px;
$device-laptop: 321px;

// Wrapper Sizes
$wrapper-phone: 85%;
$wrapper-laptop: 1200px;

// General
$border-radius: 20px;
$box-shadow-bottom: 10px 10px 0 0 rgba(0,0,0,.5);
$box-shadow-top: 0 0 10px 10px rgba(0,0,0,.5);
